@media screen and (max-width: 912px) {
  .experience-sub-title {
    /*size of text*/
    font-size: 100%;
  }

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  .article-container {
    padding: 10px;
  }
  #profile,/*query for profile section*/
      .section-container {
    display: block;
    padding-bottom: 300px;
  }

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .experience-sub-title {
    /*size of text*/
    font-size: 100%;
  }

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  .article-container {
    padding: 10px;
  }
  #profile,/*query for profile section*/
      .section-container {
    display: block;
    padding-bottom: 300px;
  }

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 820px) {
  .experience-sub-title {
    /*size of text*/
    font-size: 100%;
  }

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  .article-container {
    padding: 10px;
  }
  #profile,/*query for profile section*/
      .section-container {
    display: block;
    padding-bottom: 300px;
  }

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 414px) {
  .experience-sub-title {
    /*size of text*/
    font-size: 100%;
  }

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  .article-container {
    padding: 10px;
  }
  #profile,/*query for profile section*/
    .section-container {
    display: block;
    padding-bottom: 300px;
  }

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 412px) {
  .experience-sub-title {
    /*size of text*/
    font-size: 100%;
  }

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  .article-container {
    padding: 10px;
  }
  #profile,/*query for profile section*/
      .section-container {
    display: block;
    padding-bottom: 300px;
  }

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 390px) {
  .experience-sub-title {
    /*size of text*/
    font-size: 100%;
  }

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  .article-container {
    padding: 10px;
  }
  #profile,/*query for profile section*/
      .section-container {
    display: block;
    padding-bottom: 300px;
  }

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 375px) {
  .experience-sub-title {
    /*size of text*/
    font-size: 100%;
  }

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  .article-container {
    padding: 10px;
  }
  #profile,/*query for profile section*/
      .section-container {
    display: block;
    padding-bottom: 300px;
  }

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 360px) {
  .experience-sub-title {
    /*size of text*/
    font-size: 100%;
  }

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  .article-container {
    padding: 10px;
  }
  #profile,/*query for profile section*/
      .section-container {
    display: block;
    padding-bottom: 300px;
  }

  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 700px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 6;
  }

  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .about-containers {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-titile {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section_pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section_text_pt2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

  .article-container video {
    width: 100%; /* Make the video fill its container horizontally */
    height: auto; /* Maintain the video's aspect ratio */
    max-width: 700px; /* Set a maximum width of 700px */
    box-sizing: border-box;
  }
}

/*Query for sticky button*/
@media screen and (max-width: 1960px) {
  /*change max width to move button right buttom function */
  #book-me {
    bottom: 20px;
    top: auto;
    transform: none;
  }
  #book-me a {
    padding: 15px 30px;
  }
}
