/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* .general-links {
  cursor: pointer;
} */

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/*Icons*/

/* Applying white color to the icon with ID 'white-icon' */
#white-icon {
  color: white;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh; /*Height of Navigation bar */
  font-weight: bold;
  z-index: 1; /*Layer 1*/
  background-color: #000026; /* Black background color */
  /*position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5 rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Navigation Bar Left-Text settings */
.logo {
  color: white;
  font-weight: bold;
}

/* general */

section {
  height: 100%;
  padding: 20px;
}

#home {
  display: flex;
}
/* PROFILE SECTION */

#profile {
  justify-content: center;
  gap: 5rem;
  height: 70vh; /* Height of profile section */
  position: relative;
  padding-right: 100px;

  /* background-color: whitesmoke; */
}

.section_pic-container {
  display: flex;
  margin: auto 0;
  padding: 175px;
  /* align-items: center; */
}

.section_text {
  align-self: center;
  text-align: center;
}

.section_text p {
  font-weight: 600;
  color: #444444;
}

.section_text_p1 {
  text-align: center;
}

.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* Profile BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem; /* makes buttons round */
}

.btn-color1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

.socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  background-color: #fafafa;
  margin: auto;
}

.section-header {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

.about-description h {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 15px;
}

.about-description p {
  color: #444444;
  font-size: 15px;
  text-align: center; /* Center align text within the description */
}

.about-image-one {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align contents horizontally */
  text-align: center; /* Center align text within the container */
}

.about-image-one img {
  width: 400px;
  height: 300px;
  border-radius: 10%;
  padding: 20px;
}
.about-image-one h2 {
  margin-top: 10px; /* Adjust the margin as needed */
  font-size: 20px; /* Adjust the font size as needed */
}

/* EXPERIENCE SECTION */

/* PROJECTS SECTION */

/* Services SECTION */

/* CONTACT */

/* FOOTER SECTION */
